
.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.subheader {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    padding-top: 40px;
}

img#utah-2017 {
    width: 100%; 
    height: 100%;
    opacity: 0.7;
    margin: 0; 
    padding: 0;
    max-height: 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0px; 
    right: 0px;
    color: rgb(103, 93, 96);
    padding-top: 12px;
}

li {
    display: inline;
    float: right;
    padding: 25px;
    margin: 0;
}

.about {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;

    color: rgb(103, 93, 96);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

img#icon {
    max-width: 12.5%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    img#icon {
      max-width: 30%;
    }
  }

.responsive-icons {
    float: left;
    width: 25%;
  }

@media screen and (max-width: 1200px) {
    .responsive-icons {
      display: none;
    }
  }

@media screen and (max-width: 600px) {
    .about {
      font-size: 25px;
    }
  }

img#ruby-icon {
    position: absolute;
    float: left; 
    top: 150px; 
    left: 430px;
}

img#java-icon {
    position: absolute;
    float: left; 
    top: 150px; 
    left: 280px;
}

img#react-icon {
    position: absolute;
    float: left; 
    top: 150px; 
    left: 130px;
}


img#html-icon {
    position: absolute;
    float: right; 
    top: 150px; 
    right: 425px;
}

img#css-icon {
    position: absolute;
    float: right; 
    top: 150px; 
    right: 275px;
}

.about-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(103, 93, 96);
    font-family: 'Tajawal', sans-serif;
    font-size: 22px;
}

@media (max-width: 600px) {
    .about-content {
        font-size: 20px;
    }
}

.flex-grid {
    display: flex;
    justify-content: space-between;
}

.skills-col {
    flex: 1;
    width: 32%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
    color: rgb(103, 93, 96);
}

@media (max-width: 600px) {
    .flex-grid {
      display: block;
      margin: 0 auto;
      padding-top: 150px;
    }
  }

@media (max-width: 600px) {
    .skills-col {
      padding-bottom: 25px;
      width: 100%;
    }
  }

  .work {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    color: rgb(103, 93, 96);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-top: 60px;
    z-index: 1;
  }

  @media (max-width: 900px) {
    img#green-thumb {
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100%;
    }
  }

  .work-content {
      float: left;
      width: 40%;
      padding-top: 150px;
      padding-left: 50px;
      font-family: 'Tajawal', sans-serif;
      font-size: 22px;
  }

  @media (max-width: 875px) {
    .work-content {
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px;
      width: 75%;
    }
  }

  @media (max-width: 875px) {
    .work {
        position: absolute;
        width: 100%;
        text-align: center;
        color: rgb(103, 93, 96);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        padding: 10px;
        padding-top: 60px;
        z-index: 1;
    }
  }


  .contact-me {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(103, 93, 96);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    z-index: 1;
    padding-top: 100px;
  }

  .contact-form {
    float: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 40px;
    padding-bottom: 300px;
    padding-top: 25px;
  }

img#twitter-icon {
    position: absolute;
    float: left; 
    left: 300px;
}

img#wordpress-icon {
    position: absolute;
    float: left; 
    left: 500px;
}


img#github-icon {
    position: absolute;
    float: left; 
    left: 700px;
}

img#linkedin-icon {
    position: absolute;
    float: left; 
    left: 900px;
}